.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px #ccc;
    margin-bottom: 20px;
}

.list-header .add-workflow {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #fff;
    justify-content: center;
    cursor: pointer;
    background: #6fb56b;
}

.list-header .search {
    box-shadow: 0px 2px #ccc;
    padding: 10px 30px;
    width: 20vw;
    border: 2px solid #999;
    outline: none;
}

.workflow-search svg {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #999;
}

.search-filter {
    display: flex;
    width: 36vw;
    justify-content: space-between;
}

.search-filter select {
    padding: 10px 24px;
    cursor: pointer;
    outline: none;
    border: 2px solid #999;
    box-shadow: 0px 2px #ccc;
}

.search-filter .filters svg {
    position: absolute;
    top: 12px;
    left: 6px;
}